body {
  color: #222;
  background-color: #ddd;
  font-family: Georgia, Courier;
  font-size: 18px;
  line-height: 2rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 16vh;
  width: 100%;
  z-index: 10;
  background-color: #008080;
}

h1 {
  font-family: 'Playfair Display', Georgia, Courier;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

h1 a {
  display: block;
  width: inherit;
  height: inherit;
  padding: 1rem 0 1rem 0.5rem;
}

h1 a:active {
  color: #000;
}

main {
  position: relative;
  top: 16vh;
  min-height: 84vh;
}

article {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

h3 {
  margin: 0.5rem 0;
}

nav {
  color: #ddd;
  background-color: #222;
}

nav ul li {
  width: inherit;
  border-bottom: black solid 1px;
}

nav ul li a {
  display: block;
  width: inherit;
  height: inherit;
  padding: 0.5rem 1rem;
}

nav ul li #active,
nav ul li a:active {
  color: #fa8072;
  background-color: #000;
}

.eq {
  display: flex;
  justify-content: space-between;
}

.eq i {
  margin: 0.5rem auto;
}

@media only screen and (min-width: 480px) {
  h1 {
    letter-spacing: 1rem;
  }

  main {
    display: grid;
    grid-template-columns: 2.5fr 7.5fr;
  }

  @media only screen and (min-height: 640px) {
    header {
      height: 12vh;
    }

    h1 a:hover,
    h1 a:focus {
      color: #000;
      transition: 400ms;
    }

    main {
      top: 12vh;
      min-height: 88vh;
    }

    nav ul li a:hover,
    nav ul li a:focus {
      color: #87ceeb;
      background-color: #000;
      cursor: pointer;
      transition: 400ms;
    }

    nav ul li #active:hover,
    nav ul li #active:focus {
      color: #fa8072;
      cursor: default;
    }
  }
}
