body {
  font-family: Quicksand, Verdana;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  width: 100%;
  height: 20vh;
  z-index: 0;
  background: linear-gradient(#fff, #008080);
}

h1 {
  font-family: "Playfair Display", "Times New Roman";
  font-size: 2.5rem;
}

h1 a {
  display: block;
  width: inherit;
  height: inherit;
  padding: 20px;
}

main {
  position: relative;
  top: 22vh;
  z-index: 1;
  line-height: 2.5rem;
  background-color: inherit;
}

section,
article {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}

nav {
  display: grid;
  grid-gap: 40px;
  margin: 2rem 0;
}

.nav-item {
  width: 100%;
  margin: 0 auto;
}

.nav-tile {
  width: 20px;
  height: 100%;
}

.nav-item:nth-child(odd) .nav-tile {
  float: left;
  margin-right: 10px;
}

.nav-item:nth-child(even) .nav-tile {
  float: right;
  margin-left: 10px;
}

.nav-item:nth-child(3n-2) .nav-tile {
  background-color: #800080;
}

.nav-item:nth-child(3n-1) .nav-tile {
  background-color: #222;
}

.nav-item:nth-child(3n) .nav-tile {
  background-color: #008080;
}

.nav-item:nth-child(even) {
  text-align: right;
}

h2 {
  margin-bottom: 20px;
}

h2 a {
  padding: 10px 0;
}

nav p {
  display: none;
}

i {
  font-family: Georgia;
}

.equation {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.equation i {
  margin: 0 auto;
}

.bottom-nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 20px;
  }

  header {
    height: 40vh;
  }

  h1 {
    font-size: 4.5rem;
  }

  main {
    top: 40vh;
    line-height: 3rem;
  }

  section,
  article {
    width: 1000px;
    padding: 40px 0;
  }

  .nav-item {
    width: 1120px;
  }

  .nav-tile {
    width: 40px;
    height: 100%;
  }

  .nav-item:nth-child(odd) .nav-tile {
    float: left;
    margin-right: 20px;
  }

  .nav-item:nth-child(even) .nav-tile {
    float: right;
    margin-left: 20px;
  }

  nav p {
    display: block;
  }

  nav ul {
    display: none;
  }

  .bottom-nav {
    flex-direction: row;
  }
}
