html {
  height: 100vh;
  overflow: hidden scroll;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #ddd;
  color: #444;
  font-family: Courier;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  letter-spacing: 1.25rem;
}
