body {
  background-color: #ddd;
  font-family: Courier;
  line-height: 2rem;
}

header {
  display: flex;
  justify-content: center;
  background-color: teal;
}

header h1 {
  margin-right: -0.5rem;
  color: #444;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

h1 a:hover, h1 a:active {
  color: #222;
  transition: 0.5s;
}

article {
  width: 90vw;
  margin: 1rem auto;
  text-align: justify;
}

.grid {
  width: 90vw;
  margin: 1rem auto;
  display: grid;
  grid-gap: 0.5rem;
}

.grid span {
  border: black solid 1px;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 18px;
  }

  header h1 {
    letter-spacing: 1rem;
    margin-right: -1rem;
  }

  article {
    width: 800px;
    padding: 0;
  }
}
